:root {
    --dark-primary: #0b132b;
    --dark-secondary: #1c2541;
    --middle: #3a506b;
    --light-secondary: #5bc0be;
    --light-primary: #6fffe9;
    --transparent-background: rgba(10, 10, 10, .5);
}

/* Base and initial view */

section>textarea#itemInput {
    height: 50vh;
    width: 60vw;
    overflow: auto;
    resize: none;
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Pixelify Sans', sans-serif;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template:
        "header" max-content
        "input" 1fr
        "footer" max-content / 1fr;
    min-height: 100%;
    background-color: var(--middle);
}

section#enableJS {
    text-align: center;
    color: var(--light-secondary);
}

header {
    grid-area: "header";
    color: var(--light-primary);
    background-color: var(--dark-secondary);
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem;
}

ul {
    list-style-type: none;
    margin: auto 0px;
    padding: 0px;
    height: max-content;
    width: max-content;
}

header i {
    color: var(--light-secondary);
    transition: all 0.2s ease-in-out;
}

header i:hover {
    color: var(--light-primary);
}

footer {
    grid-area: "footer";
    color: var(--light-primary);
    background-color: var(--dark-secondary);
    padding-left: 2rem;
}

section#dataInput {
    grid-area: "input";
}

.hidden {
    display: none;
}

div.modal {
    position: absolute;
    background-color: var(--transparent-background);
    width: 100%;
    height: 100%;
    z-index: 5;
}

section.modalContent {
    position: relative;
    background-color: lightgray;
    margin: auto;
    margin-top: 8rem;
    border-radius: 2rem;
    width: 50%;
    height: max-content;
    padding: 2rem;
    text-align: center;
}

div.modal>section>a {
    position: absolute;
    right: 4rem;
    top: 4rem;
    transition: all 0.3s ease-in-out;
}

div.modal>section>a:hover,
.cancel {
    color: red;
}


.confirm {
    color: green;
}

section#dataInput {
    padding: 2rem;
    text-align: center;
    color: var(--light-secondary);
}

section#dataInput h1 {
    color: var(--light-primary);
}

section#dataInput button,
div#pastGuessToggle>button {
    color: var(--dark-primary);
    margin-top: 1rem;
    font-size: 2rem;
    padding: 1.5rem;
    border: 1px solid var(--dark-primary);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

section#dataInput button:hover,
div#pastGuessToggle>button:hover {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
}

section#dataInput textarea {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
    padding: 1.5rem;
    border: 1px solid var(--dark-primary);
    box-shadow: 7px 7px 5px var(--dark-primary);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

section#dataInput textarea:hover {
    border: 1px solid var(--light-primary);
}

section#dataInput strong {
    color: var(--light-primary);
}

/* Animation */
div.mainRectangle {
    position: absolute;
    top: 0px;
    right: 100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--dark-primary);
}

/* Game */
.showGame {
    display: block;
}

.gameList {
    overflow: hidden;
    height: fit-content;
}

section#randomWheel {
    margin: auto;
    background-color: var(--dark-secondary);
    color: var(--light-secondary);
    height: 70vh;
    width: 70%;
    text-align: center;
    border-radius: 3rem;
    border: 1px solid var(--light-primary);
}

section#randomWheel>section {
    font-size: 3rem;
    height: calc(70vh - 16rem);
    overflow: hidden;
}

section#randomWheel h1 {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
    width: 50%;
    margin: 2rem auto;
}

section#randomWheel section#pastGuessToggle {
    text-align: center;
}

.playButton {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--light-primary);
    background-color: var(--transparent-background);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.playButton>i {
    font-size: 10rem;
}

.gameList .gameOptions .gameOptions p {
    margin: 0px;
}